 {% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %} {% block content %}
<div class="container center">
    <h4>Seus documentos aqui</h4>
    <div class="center">
        {%for document in documents%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{document.name}} [{{document.id}}]</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{document.type}}</h6>
                <p class="card-text">{{document.info}}</p>
                <form method="POST">
                    {%if document.sign == None%}
                    <button class="card-link btn btn-primary" type="submit" value="sign" name="sign">Assinar</button>
                    {%endif%}
                    <input class="card-link" type="hidden" value="{{document.id}}" name="docId" />
                    <button class="card-link btn btn-primary" type="submit" value="verify" name="verify">Verificar</button>
                </form>
            </div>
        </div>
        <!-- <h3>{{document.id}}</h3>
        <h3>{{document.name}}</h3>
        <h4>{{document.type}}</h4>
        <h4>{{document.fields}}</h4> -->

        {% endfor %}
    </div>
</div>
{% endblock %}