{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %} 
{% block content %}
    <section class="">
        <h1>Bem-Vindo de volta {{ g.user }}</h1>
        <div id="msgs-container">
            <h4 id="msgs">Sua mensagem vai aparecer aqui</h4>
        </div>
        <!-- <form method="POST">
                <input type="hidden" name="docId" value="">
                <input type="hidden" name="userType" value="">
        </form> -->
    </section>
{% endblock %}
