{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %} {% block content %}
<div class="">
    <div class="jumbotron">
        <div class="container">
            <h1>Bem-Vindo de volta {{ g.user }}</h1>
        </div>
    </div>

    <section>
        <div class="container bg-white container-box" style="margin-top:-45px">
            <h4>Mandar uma mensagem para seus grupos</h4>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Digite sua mensagem</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <label for="exampleFormControlTextarea1">Mensagem para grupo</label>
                <div class="form-group">
                    {% for g in userGroups %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input groups" onclick="checkboxClickGroups()" type="checkbox" id="inlineCheckbox2" name="groups" value="{{g}}">
                        <label class="form-check-label" for="inlineCheckbox2">{{g}}</label>
                    </div>
                    {% endfor %}
                </div>
                <label for="exampleFormControlTextarea1">Mensagem para membro</label>
                <div class="form-group">
                    {% for u in userList %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input users" onclick="checkboxClickUsers()" type="checkbox" id="inlineCheckbox2" name="groups" value="{{u}}">
                        <label class="form-check-label" for="inlineCheckbox2">{{u}}</label>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Enviar mensagem</button>
            </form>
        </div>
    </section>

</div>
<script>
    function checkboxClickUsers(){
        const checkboxGroups = document.querySelectorAll(".groups")
        for(cb of checkboxGroups){
            cb.checked = false;
        }
    }

    function checkboxClickGroups(){
        const checkboxUsers = document.querySelectorAll(".users")
        for(cb of checkboxUsers){
            cb.checked = false;
        }
    }
</script> {% endblock %}