{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %} {% block content %}
<div class="jumbotron mb-0">
  <div class="container">
    <h1>Publicar</h1>
  </div>
</div>
<div class="container container-box bg-white" style="margin-top:-15px">
    {%for document in documents%}
    <h4>Tópico: {{document.name}}</h4>
    <h5>Tipo: {{document.type}}</h5>
    <div class="row">
        <textarea rows="10" cols="50">{{document.info}}</textarea>
    </div>
    <div class="row">
        <div class="col">
            <label>Campos do documento</label>
            {% for f in document.fields%}
            <span class="fields">{{f}}</span class="fields">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <form method="POST">
            <div class="form-group">
                <label>Grupos</label>
                <input type="hidden" value="{{document.type}}" name="docType" />
                <div class="form-check form-check-inline">
                {% for f in document.groups%}
                <input class="form-check-input" type="checkbox" name="groups" value="{{f}}"/>
                <label class="form-check-label" for="inlineCheckbox2">{{f}}</label>
                {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Usuário</label>
                <input type="hidden" value="{{document.type}}" name="docType" />
                <div class="form-check form-check-inline">
                {% for u in document.userList %}
                <input class="form-check-input" type="checkbox" name="users" value="{{u}}"/>
                <label class="form-check-label" for="inlineCheckbox2">{{u}}</label>
                {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>DeadLine</label>
                <input class="form-control" type="date" name="finalDate" id="finalDate">
            </div>
            <div class="form-group">
                <input class="form-check-label" type="checkbox" name="verifyOnly" value="true">Somente Leitura</input>
            </div>
            <button class="btn btn-primary" type="submit" value="publish" name="publish">Publicar</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
