{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
{% endblock %} 
{% block content %}
<style type="text/css">
    .important {
        color: #336699;
    }
    .doc {
    width: 100%;
    height: 300px;
    }   
</style>
    <div class="container">
        <h1>Analise seu documento</h1>
        <iframe class="doc" src="{{docinfo.info}}"></iframe>
        {% if not docinfo.verifyOnly %}
        <div>
        <form method="POST">
            {%for f in docinfo.fields %}
            <div class="form-group">
                <label>{{f}}</label>
                <input class="field" name="fields" type="text" placeholder="Digite {{f}}">
            </div>  
            {% endfor %}
            <input type="hidden" name="docId" value={{docinfo.docId}}>
            <button type="submit" class="btn btn-primary mb-2" value="Assinar" name="sign">Assinar</button>
        </form>
        {% else %}
        <button class="card-link btn btn-success" disabled>Documento marcado como verificado!</button>
        {% endif %}
    </div>
    <script>
        const myDocs ='{{docinfo}}';
        console.log(">!>!", myDocs);
    </script>

{% endblock %}
