{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
    <div class="jumbotron mb-0">
      <div class="container">
        <h1>Seu documento</h1>
      </div>
    </div>
    <section class="documents">
        <div class="container pt-3 bg-white container-box" style="margin-top:-15px">

          <textarea rows="10" cols="50" style="width:100%">
              {{docinfo.info}}
          </textarea>
          {% if docinfo.sign %}
          {%for f in docinfo.fields %}
          <p class="field">{{f}}</p>
          {% endfor %}
          <p>Documento foi assinado</p>
          {% else %}
          <p>Documento não foi assinado ainda</p>
          <button class="card-link btn btn-primary" type="submit" value="sign" name="sign">Assinar</button>
          {% endif %}
          <button class="card-link btn btn-success" disabled type="submit" value="sign" name="sign">Assinado</button>
        </div>
    </section>
    <script>
        const myDocs ='{{docinfo}}';
        console.log(">!>!", myDocs);
    </script>

{% endblock %}
